@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@200;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {



/* Card animation */




  .cards-container2 {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .cardAbout {
    min-width: 200px;
    animation: moveCard 20s linear infinite;
  }
  
  @keyframes moveCard {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(calc(100% + 200px));
    }
  }
  


  .swiper-pagination {
    margin-top: 40px;
  }


.side-shape {
  position: absolute;
  top: 4;
  right: 2;
  width: 100px; ;
  height: 100%;
  background: url('/public/Untitled\ design\ \(1\).png') no-repeat ;
  background-size: contain;
  z-index: -1; 
}


/* Base styles for all devices */
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(113, 112, 112, 0.424);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(237, 80, 12);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: 600;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}


@media (max-width: 600px) {
  .button {
    font-size: 14px; 
    padding-block: 0.5rem; 
    padding-inline: 1.1rem; 
    border-radius: 12px; 
  }
}
/* large */
@media (min-width: 1200px) {
  .button {
    font-size: 15px; 
    padding-block: 0.6rem; 
    padding-inline: 1.5rem; 
    border-radius: 16px; 
  }
}


.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.00);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

  



  .swiper-button-next,
  .swiper-button-prev {
    padding-top: 5px;
    /* Adjust this value as needed */
  }


  /* 01 Service Card animation */
@keyframes slideInFromTop {
  0% {
      transform: translateY(-25%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInFromTop 2.5s ease-in-out forwards;
}



  @keyframes slideOut {
    0% {
      transform: translateY(30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*02  text animation */
  .animate-slide-Out {
    animation: slideOut 1.5s ease-in-out forwards;
  }



  /*03  Experience Photo  */
  @keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}
.animate-float {
    animation: float 6s ease-in-out infinite;
}

/* Hover Move Picture */

@keyframes hoverMove {
  0% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(10px, 0);
  }
  50% {
      transform: translate(0, 10px);
  }
  75% {
      transform: translate(-10px, 0);
  }
  100% {
      transform: translate(0, 0);
  }
}

.hover-move:hover {
  animation: hoverMove 6s ease-in-out infinite;
}




/* 04 Footer animation */
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.animate-footer {
  animation: slideInFromLeft 3s forwards;
}




@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.animate-Picture {
  animation: slideInFromLeft 3s forwards;
}


/* navbar */ 

.header {
  position: relative;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.header.scrolled {
  position: fixed;
  top: 0;
  background-color: #00f2ff; /* Red background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.navbarTogglerActive {
  transform: rotate(90deg);
}



@media (min-width: 768px) {
  #navbarCollapse {
    display: block !important;
  }
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}







}