@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@200;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .swiper-pagination {
    margin-top: 40px;
  }


  .button {
    /* Tailwind CSS button styles */

    border: 0;
    align-items: center;
    position: relative;
    display: inline-flex;
    border-radius: 8px;
    padding: 14px 20px; /* Adjust padding for desktop */
    background-color: #ec4814;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
}

@media (max-width: 640px) {
    /* Adjust padding for mobile */
    .button {
        padding: 14px 15px; /* Adjust padding for mobile screens */
    }
}

  .button span {
    position: relative;
    z-index: 1;
  }

  .button::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #fff;
    transition: width 0.5s, height 0.5s;
  }

  .button:hover:before {
    width: 100px;
    height: 100px;
  }

  .button:hover {
    background-color: #10ada5;
    border-color: e;
  }


  .swiper-button-next,
  .swiper-button-prev {
    padding-top: 5px;
    /* Adjust this value as needed */
  }


  /* 01 Service Card animation */
@keyframes slideInFromTop {
  0% {
      transform: translateY(-25%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInFromTop 2.5s ease-in-out forwards;
}



  @keyframes slideOut {
    0% {
      transform: translateY(30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*02  text animation */
  .animate-slide-Out {
    animation: slideOut 1.5s ease-in-out forwards;
  }



  /*03  Experience Photo  */
  @keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}
.animate-float {
    animation: float 6s ease-in-out infinite;
}

/* Hover Move Picture */

@keyframes hoverMove {
  0% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(10px, 0);
  }
  50% {
      transform: translate(0, 10px);
  }
  75% {
      transform: translate(-10px, 0);
  }
  100% {
      transform: translate(0, 0);
  }
}

.hover-move:hover {
  animation: hoverMove 6s ease-in-out infinite;
}




/* 04 Footer animation */
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.animate-footer {
  animation: slideInFromLeft 3s forwards;
}




@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.animate-Picture {
  animation: slideInFromLeft 3s forwards;
}


}